body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.modelData{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
}

.modelData div{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.allDataDisplay{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}